@import "tailwindcss";

body {
  background: #262626;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

button {
  background-color: #313131;
  padding: 0.75rem 0.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 150ms;
  border: 1px solid #374151;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #515151;
}
